<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head">
</head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav(${account})"></div>

    <div class="container">
        <div th:replace="fragments.html :: store-info"></div>
        <div th:replace="fragments.html :: store-menu(storeMenu='info')"></div>

<!--        TODO 영업시간-->
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:text="'영업시간:' + ${store.getOperatingTime()}"></div>
        </div>
<!--        TODO 위치-->
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:text="'위치:' + ${store.getAddress()}"></div>
        </div>
<!--        TODO 전화번호-->
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:text="'전화번호:' + ${store.getPhone()}"></div>
        </div>
<!--        TODO -->
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3">상세설명</div>
            <div class="col-10" th:utext="${store.getFullDescription()}"></div>
        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: tooltip"></script>
</body>
</html>