<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body>
    <div th:replace="fragments.html :: main-nav('')"></div>
    <div class="container">
    <div class="py-5 text-center">
        <p class="lead">UntacStore</p>
        <h2>패스워드 찾기</h2>
    </div>
    <div class="row justify-content-center">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <p>입력하신 아이디의 이메일이 다르거나 찾을 수 없습니다.</p>
            <p>
                확인 후 다시 입력하세요.
            </p>
        </div>
        <form th:object="${findPasswordForm}" class="needs-validation col-sm-6" th:action="@{/find-password}" method="post" novalidate>
            <div class="form-group">
                <label for="username">아이디</label>
                <input id="username" class="form-control" type="text" name="username"
                       placeholder="byungryang" aria-describedby="usernameHelp" th:field="*{username}" required>
                <small id="usernameHelp" class="form-text text-muted">
                    가입할 때 사용한 아이디를 입력하세요.
                </small>
                <small class="invalid-feedback">아이디를 입력하세요.</small>
            </div>
            <div class="form-group">
                <label for="email">아이디에 등록한 이메일</label>
                <input id="email" class="form-control" type="email" name="email"
                       placeholder="email@email.com" aria-describedby="emailHelp" th:field="*{email}" required>
                <small id="emailHelp" class="form-text text-muted">
                    이메일 형식으로 입력해 주세요.
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">패스워드 찾기</button>
                <small id="submitHelp" class="form-text text-muted">
                    계정이 없다면 <a href="#" th:href="@{/sign-up}">계정을 먼저 만드세요.</a>
                </small>
            </div>
        </form>
    </div>
    <div th:replace="fragments.html :: footer"></div>
</div>
    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>