<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav(${account})"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-2">
                <!-- Avatar -->
                <svg class="img-fluid float-left rounded img-thumbnail"
                     th:data-jdenticon-value="${profileAccount.username}" width="125" height="125"></svg>
            </div>
            <div class="col-sm-6">
                <h1 class="display-4 " th:text="${profileAccount.username}">byungryang</h1>
            </div>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-sm-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="true">기본정보</a>
                    <a class="nav-link" id="v-pills-study-tab" data-toggle="pill" href="#v-pills-study"
                       role="tab" aria-controls="v-pills-study" aria-selected="false">즐겨찾기</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <p th:if="${!#strings.isEmpty(profileAccount.name)}">
                            <span style="font-size: 20px;">
                                <i class="fa fa-link col-1"></i>
                            </span>
                            <span th:text="${profileAccount.name}" class="col-11"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(profileAccount.email)}">
                            <span style="font-size: 20px;">
                                <i class="fa fa-briefcase col-1"></i>
                            </span>
                            <span th:text="${profileAccount.email}" class="col-9"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(profileAccount.report)}">
                            <span style="font-size: 20px;">
                                <i class="fa fa-location-arrow col-1"></i>
                            </span>
                            <span th:text="${profileAccount.reportSize()}" class="col-9"></span>
                            <div th:text="${profileUsername}">엥</div>
                            <span>
                                <a th:if="${profileAccount.isReportable(#authentication.principal)}" th:href="'/profile/'+${profileUsername}+'/report'">신고</a>
                                <a th:if="${!profileAccount.isReportable(#authentication.principal)}" th:href="'/profile/'+${profileUsername}+'/report-cancel'">신고취소</a>
                            </span>

                        </p>
                        <div th:if="${isOwner}">
                            <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-study" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        즐겨찾기
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<div class="col-sm-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <ul class="list-group">
            <a class="nav-link active"
               data-toggle="pill" href="#v-pills-newOrderList" role="tab" aria-controls="v-pills-profile" aria-selected="true" id="v-pills-newOrderList-tab">
                새 주문
                <span th:text="${newOrderList.size()}">3</span>
            </a>
            <a class="nav-link"
               data-toggle="pill" href="#v-pills-confirmOrderList" role="tab" aria-controls="v-pills-study" aria-selected="false" id="v-pills-confirmOrderList-tab" >
                확인한 주문
                <span th:text="${confirmOrderList.size()}">5</span>
            </a>
        </ul>
        <ul class="list-group mt-4">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                준비중인 주문 목록
                <span th:text="${beforeCompleteList.size()}">4</span>
            </a>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                준비완료한 주문 목록
                <span th:text="${afterCompleteList.size()}">1</span>
            </a>
        </ul>
        <ul class="list-group mt-4">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                결제완료한 주문
                <span th:text="${completePaymentList.size()}">2</span>
            </a>
        </ul>
    </div>
</div>
<div class="col-sm-6">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-newOrderList" role="tabpanel" aria-labelledby="v-pills-home-tab"
             th:if="${newOrderList.size() > 0}">
            <dt>새 주문 목록</dt>
            <div th:replace="fragments.html :: order-list (orderList=${newOrderList})"></div>
        </div>
        <div class="tab-pane fade" id="v-pills-confirmOrderList" role="tabpanel" aria-labelledby="v-pills-profile-tab"
             th:if="${confirmOrderList.size() > 0}">
            <dt>확인한 주문 목록</dt>
            <div th:replace="fragments.html :: order-list (orderList=${confirmOrderList})"></div>
        </div>
        <div class="tab-pane fade" id="v-pills-beforeCompleteList" role="tabpanel" aria-labelledby="v-pills-profile-tab"
             th:if="${beforeCompleteList.size() > 0}">
            <dt>준비중인 주문 목록</dt>
            <div th:replace="fragments.html :: order-list (orderList=${beforeCompleteList})"></div>
        </div>
        <div class="tab-pane fade" id="v-pills-afterCompleteList" role="tabpanel" aria-labelledby="v-pills-profile-tab"
             th:if="${afterCompleteList.size() > 0}">
            <dt>준비완료한 주문 목록</dt>
            <div th:replace="fragments.html :: order-list (orderList=${afterCompleteList})"></div>
        </div>
        <div class="tab-pane fade" id="v-pills-completePaymentList" role="tabpanel" aria-labelledby="v-pills-profile-tab"
             th:if="${completePaymentList.size() > 0}">
            <dt>결제완료한 주문 목록</dt>
            <div th:replace="fragments.html :: order-list (orderList=${completePaymentList})"></div>
        </div>
    </div>
</div>