<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>UntacStore</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css">
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js" ></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }

        .tagify-outside{
            border: 0;
            padding: 0;
            margin: 0;
        }

        body,
        input,
        button,
        select,
        optgroup,
        textarea,
        .tooltip,
        .popover {
            font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        }
    </style>
</head>
<!--메인 네비게이터-->
<nav th:fragment="main-nav(account)" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <label>UntacStore</label>
<!--        <img src="/images/logo_sm.png" width="30" height="30">-->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form th:action="@{/search/study}" class="form-inline" method="get">
                    <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Store 찾기" aria-label="Search" />
                </form>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">가입</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/notifications}">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" >
                <a th:if="${!account.hasStore()}" class="nav-link btn btn-outline-primary" th:href="@{/my-waiting}">
                    <i class="fa fa-list-ul" aria-hidden="true"></i> 대기표
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" >
                <a th:if="${account.hasStore()}" class="nav-link btn btn-outline-primary" th:href="@{'/store/mystore'}">
                    <i class="fa fa-home" aria-hidden="true"></i> 내 가게
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" >
                <a th:if="${!account.hasStore()}" class="nav-link btn btn-outline-primary" th:href="@{'/store/new-store'}">
                    <i class="fa fa-cog" aria-hidden="true"></i> 새 가게
                </a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <svg width="24" height="24" th:data-jdenticon-value="${#authentication.name}" class="rounded border bg-light"></svg>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <span sec:authentication="name">Username</span>
                    </h6>
                    <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">내 정보</a>
                    <a class="dropdown-item" >즐겨찾기</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--메인 푸터-->
<footer th:fragment="footer">
    <div class="row justify-content-center">
        <span>UntacStore.</span>
        <small class="d-block mb-3 text-muted">&copy; 2020</small>
    </div>
</footer>
<!--유효성검사-->
<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<!--셋팅 메뉴-->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/settings/profile}">내 정보</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'keyword-location'}? active" href="#" th:href="@{/settings/keyword-location}">키워드/지역</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'}? active" href="#" th:href="@{/settings/notifications}">알림</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/settings/account}">계정</a>
</div>

<!--툴팁-->
<script th:fragment="tooltip" type="application/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!--에디터-->
<div th:fragment="editor-script">
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script type="application/javascript">
        $(function () {
            $('.editor').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
                placeholder: '상점에 대해 소개하는 글을 자세히 적어 주세요.',
                tabsize: 2,
                height: 300
            });
        });
    </script>
</div>

<!--상점 정보-->
<div th:fragment="store-info">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a href="#" class="text-decoration-none" th:href="@{'/store/' + ${store.path}}">
                <span class="h2" th:text="${store.name}">상점 이름</span>
            </a>
        </div>
        <div class="col-4 text-right justify-content-end">
            <!--            -->
            <span class="btn-group" role="group" aria-label="Basic example" data-toggle="tooltip" data-placement="bottom" title="상점 오픈 하기">
                <button th:if="${!store.open && !store.checkOwner(#authentication.principal)}" class="btn btn-secondary btn-sm" disabled>
                    CLOSE
                </button>
                <a th:if="${!store.open  && store.checkOwner(#authentication.principal)}" class="btn btn-primary btn-sm" th:href="@{'/store/'+${store.path}+'/settings/open'}" >
                    CLOSE
                </a>
            </span>
            <!--            -->
            <span sec:authorize="isAuthenticated()" class="btn-group" role="group" aria-label="Basic example" data-toggle="tooltip" data-placement="bottom" title="상점 닫기">
                <button th:if="${store.open && !store.checkOwner(#authentication.principal)}" class="btn btn-secondary btn-sm" disabled>
                    OPEN
                </button>
                <a th:if="${store.open && store.checkOwner(#authentication.principal)}" class="btn btn-primary btn-sm" th:href="@{'/store/'+${store.path}+'/settings/close'}" >
                    OPEN
                </a>
            </span>
            <span sec:authorize="isAuthenticated()"
                  class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-outline-primary" href="#"
                   th:text="${store.getFavoritesList().size()}" data-toggle="tooltip" data-placement="bottom" title="즐겨찾기 수">1
                </a>
                <a th:if="${store.isFavoritesable(#authentication.principal)}" class="btn btn-primary"
                   th:href="@{'/store/' + ${store.path} + '/addFavorites'}"
                   data-toggle="tooltip" data-placement="bottom" title="즐겨찾기 추가">
                    <i class="fa fa-star-o" aria-hidden="true"></i> 즐겨찾기
                </a>
                <a th:if="${!store.isFavoritesable(#authentication.principal)}" class="btn btn-info"
                   th:href="@{'/store/' + ${store.path} + '/removeFavorites'}"
                   data-toggle="tooltip" data-placement="bottom" title="즐겨찾기 취소">
                    <i class="fa fa-star" aria-hidden="true"></i> 즐겨찾기 중
                </a>
            </span>
        </div>
    </div>
    <div class="row pt-1 justify-content-center bg-light">
        <div class="col-6">
            <p class="lead" th:text="${store.getShortDescription()}" style="margin: unset"></p>
        </div>
        <div class="col-4 text-right justify-content-end">
            <span  class="btn-group" role="group" aria-label="Basic example" th:if="${store.open}">
                <a th:if="${!store.waiting}" class="btn btn-primary" th:href="@{'/store/'+${store.path}+'/settings/full'}"
                   data-toggle="tooltip" data-placement="bottom" title="대기중 켜기">
                    자리있음
                </a>
                <span sec:authorize="isAuthenticated()" th:if="${store.waiting && store.open}"
                      class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-outline-primary" th:href="@{'/store/' + ${store.path} + '/new-waiting?personnel=4'}"
                       th:text="${store.countWaitingList()}" data-toggle="tooltip" data-placement="bottom" title="현재 대기중인 인원">1
                    </a>
                    <a th:if="${store.isWaitingable(#authentication.principal)}" class="btn btn-primary" th:href="@{'/store/' + ${store.path} + '/new-waiting?personnel=4'}"
                       data-toggle="tooltip" data-placement="bottom" title="대기표 발급">
                        <i class="fa fa-user-o" aria-hidden="true"></i> 줄서기
                    </a>
                    <a th:if="${!store.isWaitingable(#authentication.principal)}" class="btn btn-primary" th:href="@{'/store/' + ${store.path} + '/exit-waiting?personnel=4'}"
                       data-toggle="tooltip" data-placement="bottom" title="대기 취소">
                        <i class="fa fa-user" aria-hidden="true"></i> Waiting...
                    </a>
                    <a th:if="${store.checkOwner(#authentication.principal)}" class="btn btn-danger" th:href="@{'/store/'+${store.path}+'/settings/Unfilled'}"
                       data-toggle="tooltip" data-placement="bottom" title="대기중 끄기">
                        대기중
                    </a>
                </span>
            </span>
        </div>
    </div>

    <div class="row pt-1 justify-content-center bg-light">
        <div class="col-6">
            <span sec:authorize="isAuthenticated()"
                  class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" th:if="${store.open && store.checkOwner(#authentication.principal)}" th:href="@{'/store/' + ${store.path} + '/tables/list'}">
                    <i class="fa fa-table" aria-hidden="true"></i> Table list
                </a>
            </span>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-4 text-right justify-content-end" th:if="${store.checkOwner(#authentication.principal)}">
            <span sec:authorize="isAuthenticated()" th:if="${store.waiting && store.open}"
                  class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-outline-primary" th:href="@{'/store/' + ${store.path} + '/waiting-list'}"
                   th:text="${store.getWaitingList().size()}">1
                </a>
                <a class="btn btn-primary"
                   th:href="@{'/store/' + ${store.path} + '/waiting-list'}">
                    <i class="fa fa-users" aria-hidden="true"></i> Waiting Table
                </a>
            </span>
        </div>
    </div>
    <div class="row pt-1 justify-content-center bg-light">
        <div class="col-10">
            <p>
                <span th:each="keyword: ${store.keywords}"
                      class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="@{'/search/keyward/' + ${keyword.name}}" class="text-decoration-none text-white">
                        <i class="fa fa-tag"></i> <span th:text="${keyword.name}">Keyword</span>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>

<!--상점 메인 메뉴-->
<div th:fragment="store-menu (storeMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" href="#" th:classappend="${storeMenu == 'info'}? active" th:href="@{'/store/' + ${store.path}}">
            <i class="fa fa-info-circle"></i> 소개
        </a>
        <a class="nav-item nav-link" href="#" th:classappend="${storeMenu == 'menu'}? active" th:href="@{'/store/' + ${store.path} + '/menu'}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> 메뉴
        </a>
        <a class="nav-item nav-link" th:classappend="${storeMenu == 'review'}? active" href="#" th:href="@{'/store/' + ${store.path} + '/review'}">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> 리뷰게시판
        </a>
        <a sec:authorize="isAuthenticated()" th:if="${store.isOwner(#authentication.principal)}"
           class="nav-item nav-link" th:classappend="${storeMenu == 'settings'}? active" href="#" th:href="@{'/store/' + ${store.path} + '/settings/profile'}">
            <i class="fa fa-cog"></i> 설정
        </a>
    </nav>
</div>

<!--상점 셋팅 메뉴-->
<div th:fragment="store-settings-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active"
       href="#" th:href="@{'/store/' + ${store.path} + '/settings/profile'}">소개</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'menu'}? active"
       href="#" th:href="@{'/store/' + ${store.path} + '/settings/menu'}">메뉴</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tables'}? active"
       href="#" th:href="@{'/store/' + ${store.path} + '/settings/tables'}">테이블</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'keywords'}? active"
       href="#" th:href="@{'/store/' + ${store.path} + '/settings/keywords'}">키워드/주소 설정</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'store'}? active"
       href="#" th:href="@{'/store/' + ${store.path} + '/settings/store'}">상점</a>
</div>

<!--메시지-->
<div th:fragment="message" th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
    <span th:text="${message}">완료</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!--날자 형식-->
<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>
</html>