<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav(${account})"></div>

    <div class="container">
        <div class="py-5 text-center">
            <p class="lead" th:if="${storePage.getTotalElements() == 0}">
                <strong th:text="${keyword}"></strong>에 해당하는 상점이 없습니다.
            </p>
            <p class="lead" th:if="${storePage.getTotalElements() > 0}">
                <strong th:text="${keyword}"></strong>에 해당하는 상점을
                <span th:text="${storePage.getTotalElements()}"></span>개 찾았습니다.
            </p>
        </div>
        <div class="row justify-content-center">
            <div th:replace="fragments.html :: store-list (storeList=${storePage.getContent()})"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-10">
                <div th:replace="fragments.html :: pagination (page=${storePage}, sortProperty=${sortProperty})"></div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
</body>
</html>